# question 01

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create the Pandas Series
data = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# question 02

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create the list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create the Pandas Series from the list
data = pd.Series(my_list)

# Print the Series
print(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# question 03

In [3]:
import pandas as pd

# Create the data as a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# question 04

What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
In pandas, a Series is a one-dimensional labeled array that can hold data of any type, while a DataFrame is a two-dimensional labeled data structure that can hold data of different types in multiple columns.

A Series can be thought of as a single column of a table, while a DataFrame can be thought of as a table with multiple columns.

Here's an example to illustrate the difference between a Series and a DataFrame:

In [4]:
import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3, 4, 5])

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Print the Series and DataFrame
print(s)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

# question 05

What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
There are many functions available in Pandas to manipulate data in a DataFrame. Here are some common functions and their uses:

head(n) and tail(n) - these functions return the first n rows or last n rows of a DataFrame. These are useful for quickly inspecting a DataFrame.

info() - this function returns information about a DataFrame, including the number of rows and columns, data types, and memory usage. This is useful for understanding the structure of a DataFrame.

describe() - this function computes summary statistics for each column of a DataFrame, such as count, mean, standard deviation, minimum, and maximum values. This is useful for quickly getting an overview of the data in a DataFrame.

loc[] and iloc[] - these functions allow you to select specific rows and columns from a DataFrame based on their labels or indices, respectively. For example, df.loc[:, 'column_name'] selects all rows from the column_name column of df.

drop() - this function allows you to remove rows or columns from a DataFrame. For example, df.drop(['column_name'], axis=1) removes the column_name column from df.

groupby() - this function groups the rows of a DataFrame based on the values in one or more columns, and allows you to compute aggregate functions for each group. For example, df.groupby('column_name').mean() computes the mean value of each column for each group of rows with the same value in the column_name column.

apply() - this function applies a function to each row or column of a DataFrame. For example, df.apply(lambda x: x['column1'] + x['column2'], axis=1) computes the sum of the values in columns column1 and column2 for each row of df.

merge() - this function combines two DataFrames based on a common column. For example, pd.merge(df1, df2, on='column_name') combines df1 and df2 on the column_name column.

These are just a few of the many functions available in Pandas for manipulating data in a DataFrame. The specific function you use depends on the task at hand. For example, you might use groupby() to analyze trends in your data over time, or drop() to remove irrelevant columns from your analysis.

# question 06

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Both Series and DataFrame are mutable in nature, which means you can change their values after they have been created. However, Panel is deprecated in the latest version of Pandas and has been replaced with the more flexible Panel4D and PanelND, both of which are also mutable.

# question 07

Create a DataFrame using multiple Series. Explain with an example.
You can create a DataFrame using multiple Series by passing a dictionary of Series objects to the DataFrame constructor. The keys of the dictionary will become the column names of the DataFrame, and the values will become the Series themselves.

In [5]:
import pandas as pd

# create Series for each column of the DataFrame
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

# create a dictionary of Series objects
data = {'Name': name, 'Age': age, 'Gender': gender}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female